
/* CSS do NavBar */

* {
    margin: 0;
    padding: 0;
  }

  .gradient_gold {
    background-image: linear-gradient(125deg, #7e5c0f, #f9e36f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient_prata {
    background-image: linear-gradient(125deg, #484848, #e8e8e8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  a {
    color: goldenrod;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 10vh;
  }
  
  main {
    /* background: url("/Imagens/dama_coins.jpeg") no-repeat center center; */
    background-color: goldenrod;
    background-size: cover;
    /* height: 90vh; */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .botaoWhats{
    display: flex;
    background: #29A71A;
    font-size: 13px;
    padding-top: 4px;
    border: 0;
  }

  #wb1{
      display: left;
  }

  #wb2{
      display: right;
      color: white;
      text-decoration: none;
      padding-top: 5px;
      padding-right: 5px;
  }

  .logowhatsappmenu{
      width: 25px;
      margin: auto;
      padding-right: 5px;
      padding-left: 5px;
  }

  @media (max-width: 420px) {
    #wb1 {
      display: center;
    }
    #wb2 {
      display: none;
    }
  }



/* CSS do Main */


  /* CSS do Box 1 */
    .box_1{
      display: flex;
      height: 70vh;
      background-image: url(Imagens/box1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      /* background-size: contain; */
    }

    .box_1-1 {
      display: left;
      width: 50vw;
      color: white;
      text-align: center;
      padding: 25px;
    }

    .box_1-2 {
      display: right;
      width: 50vw;
      /* background: url("/Imagens/imgb_1-2.png");
      background-size: 50vw 100%; */
    }

    .ebox_1-1 {
      color: #23232e;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 25px;
    }

    .dama {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 90px;
      line-height: 60px;

      background-image: linear-gradient(125deg, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f, #7e5c0f, #f9e36f);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .ebox_1-2 {
      padding-bottom: 10px;
    }

    .coins {
      padding: 0;
      font-size: 70px;

      background-image: linear-gradient(125deg, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8, #484848, #e8e8e8);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .botaoCompra {
        display: flex;
    }

    .linkCompra {
      margin: auto;
    }

    .btcompra {
      background-color: #c0c0c0;
      display: flex;
      color: #23232e;
      border-color: goldenrod;
    }

    .btc1 {
      display: left;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
      padding-top: 17px;
    }

    .btc2 {
      display: right;
    }

    #imgcoins {
      height: 50px;
    }

    @media (max-width: 590px) {
      .box_1-1 {
        width: 70vw;
      }
    }

    @media (max-width: 422px) {
      .box_1-1 {
        width: 100vw;
      }
    }

    @media (max-width: 373px) {
      .box_1-1 {
        padding: 10px;
        padding-top: 25px;
      }
    }

    @media (max-width: 343px) {
      .box_1-1 {
        padding: 10px;
      }
    }

    @media (max-width: 315px) {
      .ebox_1-2 {
        padding-bottom: 5px;
      }
      .box_1-1 {
        padding-left: 0px;
      }
    }

    @media (max-width: 280px) {
      .dama {
        font-size: 70px;
      }
      .coins {
        font-size: 50px;
      }
    }


    /* --------- Mudar imagem de background -------------- */
    /* @media (max-width: 565px) {
      .box_1 {
        background-image: url(Imagens/dama_coins.jpeg);
      }
    } */



  /* CSS do Box 2 */

  .box_2 {
    height: 500px;
  }